<nav class="sidebar">
    <div class="box-logo">
        <a data-href="index.html" class="navbar-brand d-flex align-items-center gap-2">
            <span class="brand-mark"><i class="fa-solid fa-spa"></i></span>
            <span class="brand-name">Fw12</span>
        </a>
        <span class="user-type">Khách hàng</span>
    </div>
    <div class="box-name">
        <i class="fa-regular fa-circle-user"></i>
        <div class="name-container">
            <span class="username">Name</span>
            <span class="user-rank">User rank</span>
        </div>
    </div>
    <ul class="list-nav-items">
        <li class="nav-item all selected">
            <i class="fa-solid fa-border-all"></i>
            <a>Tổng quan</a>
        </li>
        <li class="nav-item order-history">
            <i class="fa-solid fa-box-archive"></i>
            <div class="nav-item-texts">
                <a>Lịch sử đơn hàng</a>
                <span class="states delivery">2 đang giao</span>
            </div>
        </li>
        <li class="nav-item design">
            <i class="fa-solid fa-palette"></i>
            <div class="nav-item-texts">
                <a>Yêu cầu thiết kế</a>
                <span class="states new-design">1 mới</span>
            </div>
        </li>
        <li class="nav-item complaint">
            <i class="fa-solid fa-person-circle-exclamation"></i>
            <a>Khiếu nại của tôi</a>
        </li>
    </ul>
    <div class="box-logout">
        <i class="fa-solid fa-arrow-right-from-bracket"></i>
        <span>Đăng xuất</span>
    </div>
    <div class="box-version">
        <span>Fw12 Portal</span>
        <span>v0.1</span>
    </div>
</nav>