<nav class="sidebar">
    <div class="box-logo">
        <a data-href="index.html" class="navbar-brand d-flex align-items-center gap-2">
            <span class="brand-mark"><i class="fa-solid fa-spa"></i></span>
            <span class="brand-name">Fw12</span>
        </a>
        <span class="user-type">Khách hàng</span>
    </div>
    <div class="box-name">
        <i class="fa-regular fa-circle-user"></i>
        <a>Name</a>
    </div>
    <ul class="list-items">
        <li class="item">
            <i class="fa-solid fa-border-all"></i>
            <a>Tổng quan</a>
        </li>
        <li class="item">
            <i class="fa-solid fa-box-archive"></i>
            <a>Lịch sử đơn hàng</a>
        </li>
        <li class="item">
            <i class="fa-solid fa-palette"></i>
            <a>Yêu cầu thiết kế</a>
        </li>
        <li class="item">
            <i class="fa-solid fa-person-circle-exclamation"></i>
            <a>Khiếu nại của tôi</a>
        </li>
    </ul>
    <div class="box-logout">

    </div>
    <div class="box-version">

    </div>
</nav>